<body id="sheet">
<br>
<br>
<h1>【To Doリスト】</h1>
<%= form_for @task, url: tasks_path do |f| %>
  <%= f.label :タスク名 %>
  <%= f.text_field :title, :size => 40 %><br>
  <%= f.label :締切 %>
  <%= f.date_field :time, :size => 140 %>
  <%= f.submit "Tweetする" %>
<% end %>


  <div class="task-container" >
    <div class="item">
      <h1 class="show3">やることリスト</h1><br>
      <% @tasks.each do |t| %> 
        <%= @task.user.email if @task.user %>
        
          <% if (t.time - @today).to_i > -1 %> 
            タスク名:<b><%= t.title %></b><br>
            締切:<%= t.time %><br>
            残り:<%= (t.time - @today).to_i %>日<br>
            <%= button_to 'タスク完了', done_path(t.id), method: :post %><br><br> 
          <% else %> 
            <b><%= t.title %></b><br>
            締切:<%= t.time %><br>
            <%= (t.time - @today).to_i * -1 %>日期限が超過しています<br>
            <%= button_to 'Done', done_path(t.id), method: :post %><br><br> 
          <% end %>
          <hr>
      <% end %>
    </div>
  </div>

  <div class="item">
    <h1 class="show2">完了済み</h1><br>
    <% @tasks_done.each do |t| %> 
      <div class="task">
        タスク名:<b><%= t.title %></b><br>
        <% current_user.email %>
        完了日:<%= t.done_at.strftime('%Y-%m-%d') %> <br> 
      </div>
      <hr>
    <% end %>
  </div>
