<body id="sheet">
<br>
<br>
  <div class="task-container" >
    <div class="item">
      <h1 class="show3">やることリスト</h1>
      <a href="tasks/new" class="btn btn-radius-solid btn--shadow">やることリストを追加する<i class="fas fa-angle-right fa-position-right"></i></a><br>
      <% @tasks.each do |t,task| %> 
        <% if (t.time - @today).to_i > -1 %> 
            投稿者:<%= t.user.email %><br>
            タスク名:<b><%= t.title %></b><br>
            締切:<%= t.time %><br>
            残り:<%= (t.time - @today).to_i %>日<br>
            <% if current_user.id == t.user_id %>
              <%= button_to 'タスク完了', done_path(t.id), method: :post %>
              <% end %>
              <br><br> 
        <% else %> 
            <b><%= t.title %></b><br>
            締切:<%= t.time %><br>
            <%= (t.time - @today).to_i * -1 %>日期限が超過しています<br>
            <%= button_to 'Done', done_path(t.id), method: :post %>
        <% end %>
          <hr>
      <% end %>
    </div>
  </div>

  <div class="item">
    <h1 class="show2">完了済み</h1><br>
    <% @tasks_done.each do |t| %> 
      <div class="task">
        投稿者:<%= t.user.email %><br>
        タスク名:<b><%= t.title %></b><br>
        <% current_user.email %>
        完了日:<%= t.done_at.strftime('%Y-%m-%d') %> <br> 
      </div>
      <hr>
    <% end %>
  </div>
