<body id="sheet">
<br>
<br>
<br>
<br>
<br>
<br>
<div style= "text-align:center">
  <%= render "layouts/task_error_messages" %>
  <h1 class= "list2">やることリスト</h1>
  <%= form_for @tweet, url: tweets_path do |f| %>
    <%= f.label :タスク名 %>
    <%= f.text_field :title, :size => 40 %><br>
    <%= f.label :締切 %>
    <%= f.date_field :time, :size => 140 %>
    <%= f.submit "追加" %>
  <% end %>
</div>