<div class="header">
  <div class="header-name">
    <h2 style="text-align:center">◯◯病院　利用者申し送り</h2>
  </div>
<h6 style="text-align:right">
  <% if user_signed_in? %>
    <%= link_to "アカウント編集", edit_user_registration_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
    <%= "【ログイン中のアドレス】#{current_user.email}" %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>
</h6>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><%= link_to "はじめに", '/begin' %></li>
      <li><%= link_to "投稿一覧", posts_path %></li>
      <li><%= link_to "[デイケア]" ,'/daycare' %></li>
      <li><%= link_to "[老健]"  ,'/healthcarefacility' %></li>
      <li><%= link_to "[病棟]" ,'/ward' %></li>
      <li><%= link_to "[外来]" ,'outpatient'  %></li>
      <li><%= link_to "新規投稿", new_post_path %></li>
      <li><%= link_to "googleカレンダー","https://calendar.google.com" %></li>
    </ul>
  </div>
</div>
